* {
    font-family: sans-serif;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
    font-weight: 600;
}

button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    border: 10px solid grey;
    cursor: pointer;

    transition: all 500ms ease-in-out;

    &:hover {
        background-color: rgb(255, 154, 154);
    }
}